@import views.html.helper.CSPNonce

@this(
        govukLayout: GovukLayout,
        head: Head,
        scripts: Scripts
)

@(pageTitle: Option[String] = None,
        beforeContentBlock: Option[Html] = None
)(contentBlock: Html)(implicit request: Request[_], messages: Messages)

@govukLayout(
    pageTitle = pageTitle,
    headBlock = Some(head()),
    beforeContentBlock = beforeContentBlock,
    footerItems = Seq(FooterItem(href = Some("https://www.gov.uk/help"), text = Some("Help using GOV.UK"))),
    bodyEndBlock = Some(scripts()),
    cspNonce = CSPNonce.get
)(contentBlock)
