@(title: String,
  mainContentHeader: Html = HtmlFormat.empty,
  appConfig: config.AppConfig = config.ApplicationConfig)(mainContent: Html)(implicit request: Request[_])

@import uk.gov.hmrc.play.views.html.{helpers => uiHelpers}
@import uk.gov.hmrc.play.views.html.layouts
@import config.FormPartialProvider

@serviceInfo = {
  @layouts.serviceInfo(
    betaBanner = HtmlFormat.empty,
    includeGridWrapper = false,
    serviceInfoContent = None)
}

@content = {
  @layouts.main_content(
    article = layouts.article(content = mainContent, includeGridWrapper = false),
    mainContentHeader = mainContentHeader,
    serviceInfo = serviceInfo,
    getHelpForm = uiHelpers.reportAProblemLink(appConfig.reportAProblemPartialUrl, appConfig.reportAProblemNonJSUrl))
}

@bodyEnd = {
  @layouts.footer(
    analyticsToken = appConfig.analyticsToken,
    analyticsHost = appConfig.analyticsHost,
    assetsPrefix = appConfig.assetsPrefix,
    ssoUrl = None,
    scriptElem = None,
    gaCalls = None)
}

@views.html.layouts.govuk_template(
  title = Some(title),
  bodyClasses = None)(
  head = layouts.head(assetsPrefix = appConfig.assetsPrefix, linkElem = None, headScripts = None),
  bodyEnd = bodyEnd,
  insideHeader = HtmlFormat.empty,
  afterHeader = HtmlFormat.empty,
  footerTop = HtmlFormat.empty,
  footerLinks = Some(layouts.footer_links()),
  nav = false)(content)